@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@700&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@keyframes underline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}


@keyframes creator-fade-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.creator-fade-in {
  animation: creator-fade-in 3s ease-out 1ms forwards;
}


.satoshi {
  font-family: 'Satoshi', Arial, sans-serif;
  font-weight: 200;
}
.satoshi-normal {
  font-family: 'Satoshi', Arial, sans-serif;
  font-weight: 300;
}
.satoshi-medium {
  font-family: 'Satoshi', Arial, sans-serif;
  font-weight: 400;
}
.satoshi-bold {
  font-family: 'Satoshi', Arial, sans-serif;
  font-weight: 500;
}


.clash {
  font-family: 'Clash Display', Arial, sans-serif;
  font-weight: 200;
}
.clash-normal {
  font-family: 'Clash Display', Arial, sans-serif;
  font-weight: 400;
}
.clash-medium {
  font-family: 'Clash Display', Arial, sans-serif;
  font-weight: 500;
}
.clash-bold {
  font-family: 'Clash Display', Arial, sans-serif;
  font-weight: 600;
}
.clash-extrabold {
  font-family: 'Clash Display', Arial, sans-serif;
  font-weight: 700;
}


.bellefair {
  font-family: 'Bellefair', Arial, sans-serif;
  font-weight: 400;
}

.animate-underline {
  animation: underline 0.3s ease-out forwards;
  transform-origin: left;
}

.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
