.navbar {
  display: flex;
  align-items: start;
  justify-content: space-between;
  background: #fff;
}

.navbar-desktop {
  display: flex;
  justify-content: space-between;
    width: 100%;
    height: 100px;
}

.navbar-logo {
  flex: 1;
  font-family: 'STIX Two Text', serif;
  font-weight: 700;
  font-style: bold;
  font-size: 32px;
  line-height: 90px;
  letter-spacing: 0px;
  color: #292929;
  width: 113px;
  height: 90px;
  margin-top: 52px;
  margin-left: 183px;
  opacity: 1;
  transform: rotate(0deg);
}

.navbar-links {
  display: flex;
  flex-direction: row;
  gap: 47px;
  padding: 0;
  margin-top: 80px;
  align-items: center;
  font-family: "Satoshi", sans-serif; 
  font-size: 24px;
  font-weight: 400;
  color: #292929;
  height: 32px;
}

.navbar-links a {
  text-decoration: none; 
  font-weight: 400;
  color: inherit;
  position: relative; 
  transition: font-weight 300ms ease-out;   
    
}

.navbar-links a.active {
  font-weight: 500;
}

.navbar-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #292929;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-out;
}

.navbar-links a:hover::after,
.navbar-links a.active::after {
  transform: scaleX(1);
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;          
  width: 100%;
  height: 2px;           
  background-color: #292929; 
}

.navbar-links a:hover {
  font-weight: 500;
}




.navbar-icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 80px;
  margin-right: 153px;
  
}

.icon {
  font-size: 2rem;
  cursor: pointer;
  color: #333333;
  transition: transform 300ms ease-out;
}

.icon:active {
    transform: scale(0.85);
}

.icon:hover {
    transform: scale(1.1);
}


.navbar-mobile {
  display: none;
}

.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 999;
}
 
.mobile-overlay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-overlay-links {
    display: flex;
    flex-direction: column;
    gap: 52px;
    font-family: "Satoshi", sans-serif; 
    font-size: 24px;
    font-weight: 400;
    color: #292929;
    margin-left: 15px;
}

.close-icon {
    font-size: 2rem;
    cursor: pointer;
    color: #333333;
}

.hamburger-icon {
        font-size: 2rem;
        cursor: pointer;
        color: #333333;
        display: block;
        z-index: 1000;
    }

.mobile-overlay-header .navbar-logo {
    margin: 0;
    font-size: 24px;     
    line-height: 1;
    position: static;
    transform: none;
    margin-left: 15px;
}

.close-icon {
        font-size: 2rem;
        cursor: pointer;
        color: #333333;
        display: block;
        margin-top: -80px;
    }


@media screen and (max-width: 768px) {
    .navbar {
    padding: 0 20px;
    align-items: center;
  }

  .navbar-desktop {
    display: none;
  }
  
  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    position: relative;
  }
  
  .navbar-mobile .navbar-logo {
    margin: 0;
    font-size: 24px;     
    line-height: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(45px);
  }

  .navbar-mobile .navbar-icons {
    margin: 0;
    gap: 10px;
    transform: translateY(8px);
  }

  .navbar-mobile .icon {
    font-size: 26.72px;
  }

  .navbar-icons {
    margin: 0;
  }

  .hamburger-icon {
    font-size: 26px;
    display: block;
    cursor: pointer;
    transition: transform 0.1s linear;
  }

  .hamburger-icon:active {
    transform: scale(0.85);
  }

  .hamburger-icon:hover {
    transform: scale(1.1);
  }
  
  .mobile-floating-icon {
    position: fixed;          
    bottom: 80px;             
    right: 40px;             
    width: 64px;             
    height: 64px;
    background-color: #3341C1; 
    border-radius: 50%;        
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;             
    font-size: 39px;          
    cursor: pointer;
    z-index: 1001;            
    transition: transform 300ms ease-out;
  }

  .mobile-floating-icon svg {
    pointer-events: none; 
    fill: #fff;
    stroke: none;    
  }

  .mobile-floating-icon:active {
    transform: scale(0.9);
  }

  .mobile-floating-icon:hover {
    transform: scale(1.05);
  }


}

